body {
    background-color: #16161a;
}

h4 {
    color: #2b2c34;
}

.co-name {
    color: #2b2c34;
    font-family: "Rufina", serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #d1d1e9;
    border-radius: 5rem;
    height: 4rem;
}

a{
    text-decoration: none;
    color: #2b2c34;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: bold;

}

.options {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: end;
    transition: 0.7s;
}

.options:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: bold;
    color: #fffffe;
    background-color: #6246ea;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rufina", serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: #fffffe;
}

.main-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: bold;
    color: #fffffe;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plan {
    height: 33rem;
    width: 18.75rem;
    background-color: #d1d1e9;
    padding: 0.6rem;
    margin: 1rem;
}

.plan-title {
    font-family: "Rufina", serif;
    font-weight: bolder;
    color: #2b2c34;
}

.plan-desc {
    color: #2b2c34;
    font-family: "Josefin Sans", sans-serif;
}

hr {
    border: 0.05rem solid #2b2c34;
}

.plan-info {
    color: #2b2c34;
    font-family: "Josefin Sans", sans-serif;
}

.plan-cost {
    color: #2b2c34;
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;

}

p {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
}

.purchase-button {
    display: flex;
    justify-content: center;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.curr-unit {
    color: #fffffe;
    font-family: "Josefin Sans", sans-serif;
}

.toggle-label {
    margin-right: 10px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6246ea;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #6246ea;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.plans {
    display: flex;
    justify-content: space-around;
}

.plan {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}